<script lang="ts">
	import { sessions, addSession } from 'stores/sessions'
	import Session from 'types/Session'
	import { goto } from '$app/navigation'
	import { base, assets } from '$app/paths'
	import Modal from 'components/atoms/Modal.svelte'

	let sessionsValue
	sessions.subscribe((value) => {
		sessionsValue = value
	})

	function onSubmit(e): void {
		const url = e.target[0].value
		const nickname = e.target[1].value

		const parsedUrl = new URL(url)
		if (parsedUrl.protocol !== 'wss:' && parsedUrl.protocol !== 'ws:') {
			console.error('need a websocket protocol - got: %s', parsedUrl.protocol)
			return
		}

		if (url) {
			const id = addSession(parsedUrl, nickname)

			goto(`${base}/sessions/view/${id}`)
			return
		}
	}
</script>

<svelte:head>
	<title>Socketeer :: Quickly listen to any websocket stream</title>
</svelte:head>

<template lang="pug">
  Modal
    form(on:submit|preventDefault!="{(e) => onSubmit(e)}")
      header.px-6.mb-3
        h1.text-xl.text-gray-100 Add a websocket connection

      main.px-6
        .form-field
          label(for="url") URL
          input(name="url" type="text" autocomplete="off" placeholder="wss://localhost:9001/ws" value="wss://stream.binance.com:9443/ws/ethbtc@trade")

        .form-field
          label(for="nickname") Nickname (optional)
          input(name="nickname" type="text" autocomplete="off" placeholder="My App").mb-2
    
      footer.p-6.bg-gray-800
        .flex
          +if('sessionsValue.size > 0')
            .cancel.flex-grow(on:click!="{() => window.history.back()}") Go back
          input.flex-grow(type="submit" value="Connect")
</template>

<style scoped>
	form {
		@apply bg-gray-700 rounded-xl overflow-hidden pt-6;
	}

	.form-field {
		@apply mb-2;
	}

	.form-field label {
		@apply text-xs text-gray-300;
	}

	form .cancel,
	form input {
		@apply p-2 rounded bg-gray-800 text-gray-100 w-full;
	}

	form .cancel,
	form input[type='submit'] {
		@apply py-3 cursor-pointer text-center text-sm;
	}

	form .cancel {
		@apply mr-3 bg-gray-600 text-gray-300 shadow-sm;
	}

	form input[type='submit'] {
		@apply bg-purple-600;
	}
</style>
