<script lang="ts">
	import '../app.postcss'

	import { current } from 'stores/sessions'

	current.set(undefined)

	import Header from 'components/molecules/Header.svelte'
</script>

<template lang="pug">
	Header
	main.flex-grow.flex.flex-col.bg-gray-900
		slot
</template>

<style scoped>
	main {
		@apply overflow-hidden;
		max-height: calc(100vh - 45px);
	}
</style>
