<script context="module" lang="ts">
	import Add from 'routes/sessions/add/index.svelte'

	export const prerender = true
</script>

<script lang="ts">
</script>

<svelte:head>
	<title>Socketeer :: Quickly listen to any websocket stream</title>
</svelte:head>

<template lang="pug">
	<Add />
</template>
