<script context="module">
	/** @type {import('@sveltejs/kit').ErrorLoad} */
	export function load({ error, status }) {
		return {
			props: { error, status },
		}
	}
</script>

<script>
	/** @type {number} */
	export let status

	/** @type {Error} */
	export let error
</script>

<article class="container">
	<h2 class="text-xl">{status}</h2>
	<span class="text-xl font-bold text-center">{error.message}</span>

	<!-- TODO figure out what to do with stacktraces in prod -->
	{#if error.stack}
		<pre>{error.stack}</pre>
	{/if}
</article>

<style scoped>
	pre {
		font-size: 16px;
		font-family: var(--font-mono);
		background-color: rgba(255, 255, 255, 0.45);
		border-radius: 3px;
		box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
		padding: 0.5em;
		overflow-x: auto;
		color: var(--text-color);
	}
</style>
