<script lang="ts">
	export let hide = false
</script>

<template lang="pug">
  .modal(class:hidden!="{hide}")
    slot
</template>

<style scoped>
	.modal {
		@apply absolute top-0 left-0 right-0 bottom-0 z-50 flex flex-col items-center justify-center;
		background: #00000077;
	}

	.hidden {
		display: none;
	}
</style>
