<script lang="ts">
	import type { Ace } from 'ace-builds'
	import { onMount } from 'svelte'

	export let content
	export let error: string | null = null
	export let onClose = () => {}
	export let onChange = (value: string) => {}
	export let onSubmit = (e: Event) => {}

	onMount(async () => {
		const ace = await import('ace-builds/src-noconflict/ace')
		import('ace-builds/src-noconflict/theme-dracula')
		import('ace-builds/src-noconflict/mode-json')
		const editor: Ace.Editor = ace.edit('editor', {
			theme: 'ace/theme/dracula',
			mode: 'ace/mode/json',
		})

		//@ts-ignore
		editor.session.on('change', (_delta) => {
			error = null
			onChange(editor.getValue())
		})
	})
</script>

<template lang="pug">
  .editor-container
    header
      span Send a message
    main
      #editor {content}
      +if('error')
        .bg-red-800.text-white.px-3.py-1.text-sm {error}
    footer
      form.flex(
        on:submit|preventDefault!="{onSubmit}"
      )
        .button(on:click!="{onClose}") Close
        input(type="submit" value="Send")
</template>

<style scoped>
	#editor {
		height: 50vh;
	}

	.editor-container {
		@apply bg-gray-700 rounded overflow-hidden xl:w-1/2 lg:w-2/3 xs:w-4/5;
	}

	.editor-container header {
		@apply py-4 text-center text-gray-100;
	}

	.editor-container main {
		@apply bg-gray-900;
	}

	.editor-container footer {
		@apply p-3 bg-gray-800;
	}

	.editor-container footer input[type='submit'],
	.editor-container footer .button {
		@apply flex-grow text-sm bg-white border-0 rounded p-3 w-full text-gray-100 cursor-pointer select-none;
	}

	.editor-container footer input[type='submit'] {
		@apply bg-purple-600 text-gray-100;
	}

	.editor-container footer .button {
		@apply bg-gray-600 mr-3 text-center text-gray-300;
	}
</style>
