<script lang="ts">
	import { onDestroy } from 'svelte'
	import { sessions, current, deleteSession } from 'stores/sessions'
	import type Session from 'types/Session'

	let sessionsArray: Session[] = []
	let currentSession: string

	const unsubscribe = sessions.subscribe((value) => {
		let newSessionsArray: Session[] = []
		value.forEach((session) => {
			newSessionsArray = [...newSessionsArray, session]
		})
		sessionsArray = newSessionsArray
	})

	current.subscribe((value) => {
		currentSession = value
	})

	onDestroy(unsubscribe)
</script>

<template lang="pug">
	nav
		+if('sessionsArray.length > 0')
			+each('sessionsArray as session')
				+if('currentSession === session.id')
					a(sveltekit:prefetch href!="{`/sessions/view/${session.id}`}").text-white.h-full
						.tab.active
							span {session.getTabDisplay()}
					+else()
						a(sveltekit:prefetch href!="{`/sessions/view/${session.id}`}").text-white.h-full
							.tab
								span {session.getTabDisplay()}
		
		div.mx-3
			a(sveltekit:prefetch href="/sessions/add").add
				i.lni.lni-circle-plus
</template>

<style>
	nav {
		@apply flex flex-row bg-gray-700 items-center select-none shadow z-10;
		@apply overflow-x-scroll;
		height: 45px;
	}

	nav .tab {
		@apply flex items-center bg-gray-700 overflow-hidden text-gray-300 text-sm h-full cursor-pointer;
		border-bottom: 1px solid transparent;
		min-width: 100px;
		max-width: 250px;
		padding: 7px 15px 7px 10px;
		position: relative;
		transition: 0.2s;
	}

	nav .tab.active {
		@apply text-gray-100 bg-gray-800 border-b border-blue-500;
		box-shadow: 0 0 5px #00000011;
		position: relative;
	}

	nav .add {
		@apply text-gray-200;
		transition: 0.2s;
	}

	nav .add:hover {
		@apply text-white;
	}
</style>
