<script context="module" lang="ts">
	import type { Load } from '@sveltejs/kit'
	import { sessions } from 'stores/sessions'
	import { goto, prefetch } from '$app/navigation'
	import { base } from '$app/paths'

	export const load: Load = async ({ page }) => {
		prefetch(`${base}/`)

		const sessionId = page.params.id
		let session: Session | undefined = undefined

		sessions.subscribe((value) => {
			const exists = value.has(sessionId)
			if (exists) {
				session = value.get(sessionId)
			}
		})

		if (session) return { props: { sessionId, session } }
		goto(`${base}/`)
	}
</script>

<script lang="ts">
	import { onMount, onDestroy } from 'svelte'
	import { beforeUpdate, each } from 'svelte/internal'

	import { current } from 'stores/sessions'
	import type { Session } from 'types'

	import ChatLog from 'components/atoms/ChatLog.svelte'
	import Modal from 'components/atoms/Modal.svelte'
	import Editor from 'components/molecules/Editor.svelte'

	export let sessionId: string
	export let session: Session

	sessions.subscribe((value) => {
		session = value.get(sessionId)
	})

	// editor state
	let isEditorHidden = true
	let chatMessage = '{}'
	let editorError: string | null = null
	function clearChatMessage() {
		chatMessage = ''
	}
	function setChatMessage(message: string) {
		chatMessage = message
	}

	// incoming message handler
	function handleIncomingMessage(data: string) {
		// scroll to bottom if not scrolled up
		let logsElement = document.getElementsByClassName('logs')[0]
		logsElement.scrollTop = logsElement.scrollHeight
	}

	// submit chat form
	function handleSubmitChat(_e) {
		try {
			const cleanMessage = chatMessage.replaceAll(' ', '').replaceAll('\n', '')

			// validate
			JSON.parse(cleanMessage)

			session.send(cleanMessage)
			clearChatMessage()
			isEditorHidden = true
		} catch (err) {
			editorError = err
		}
	}

	// lifecycle
	onMount(async () => {
		session.connect()
		session.onMessage = handleIncomingMessage
	})

	onDestroy(() => {
		session.onMessage = () => {}
	})

	beforeUpdate(() => {
		current.set(sessionId)
	})
</script>

<svelte:head>
	<title>Socketeer :: Listening to {session.url.toString()}</title>
</svelte:head>

<template lang="pug">
	Modal(hide!="{isEditorHidden}")
		Editor(
			bind:content!="{chatMessage}"
			bind:error!="{editorError}"
			onClose!="{() => {isEditorHidden = true}}"
			onChange!="{(val) => {setChatMessage(val)}}"
			onSubmit!="{handleSubmitChat}"
		)

	ul.logs
		//- show the last {threshold} messages in the log
		+each('session.logs as log, index')
			+if('index > session.logs.length - session.threshold - 1')
				li
					ChatLog({log})

	.controls
		button(on:click!="{() => session.disconnect()}")
			i.lni.lni-power-switch
		button(on:click!="{() => {isEditorHidden = false}}")
			i.lni.lni-bubble 

</template>

<style scoped>
	ul.logs {
		@apply flex flex-col flex-grow p-0;
		height: 100%;
		overflow-y: scroll;
		margin: 0 20px;
	}

	ul.logs li {
		margin-top: 15px;
	}

	ul.logs li:last-of-type {
		margin-bottom: 15px;
	}

	.controls {
		@apply absolute flex flex-col;
		right: 20px;
		bottom: 20px;
	}

	.controls button {
		@apply flex items-center justify-center bg-blue-500 text-white rounded-full m-2 cursor-pointer;
		width: 40px;
		height: 40px;
	}
</style>
